html, body {
    height: 100%;
    width: 100%;
}

body {
    background-color: #383838;
}

a, label, button, p {
    font-family: 'Montserrat', sans-serif;
}

.book-store-button {
    background: #FFFFFF;
    color: #141414 !important;
}

.book-store-nav {
    margin-top: 20px;
}

.book-store-dark {
    background-color: #383838;
}

.book-store-medium-dark {
    background-color: #6B6B6B !important;
    border-color: #6B6B6B !important;
}

.book-store-not-dark {
    background-color: #FFFFFF;
}

.book-store-light {
    color: #FFFFFF;
}

.center {
    text-align: center;
}
