html, body {
    height: 100%;
    width: 100%;
}

body {
    background-color: #383838;
}

a, label, button, p {
    font-family: 'Montserrat', sans-serif;
}

.book-store-button {
    background: #FFFFFF;
    color: #141414 !important;
    padding-right: 1.5rem !important;
    padding-left: 1.5rem !important;
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
}

.book-store-nav {
    margin-top: 20px;
}

.book-store-dark {
    background-color: #383838;
}

.book-store-medium-dark {
    background-color: #6B6B6B !important;
    border-color: #6B6B6B !important;
}

.book-store-not-dark {
    background-color: #FFFFFF;
}

.book-store-light {
    color: #FFFFFF;
}

.center {
    text-align: center;
}

.book-store-section {
    height: 100%
}

.book-store-input {
    opacity: 0.2;
    border: 1px solid #FFFFFF !important;
    box-sizing: border-box;
    width:25% !important;
}

.book-store-row-image {
   height: 3rem;
   width: 3rem; 
}
