.book-store-books-section {
    height:100%;
}

.book-store-books-button {
    padding-right: 2rem !important;
    padding-left: 2rem !important;

    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
}

.book-store-books-card {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    width: 20rem;
}

.book-store-book-qty {
    width: 5rem;
}
