.book-store-nav-hover:hover {
    background: #FFFFFF;
    border-radius: 20px;

    color: #141414 !important;
}

.book-store-nav-item {
    padding-right: 1.5rem !important;
    padding-left: 1.5rem !important;
}

.book-store-nav-cart {
    margin-right: 10px;
}
